# =================================================================================== #
# this is a prebuild env file,                                                         #
# to build your own create a file at root of your project with *.development extention # 
# or *.development.local for local debug                                              #
# =================================================================================== #

# NODE ENV 
# ------------------------------
NODE_ENV=
SHOW_ERROR_DETAILS=
HTTPS=
# PG CREDENTIALS
# -------------------------------------
PGHOST=
PGDATABASE=
PGUSER=
PGPORT=
PGPASSWORD=

# APP VAR
# -------------------------------------
APP_FRONT_BASEURL=
APP_API_BASEURL=

# SECRETS
# -------------------------------------
APP_REFRESH_SECRET=
APP_ACCESS_SECRET=
APP_API_SCHEDULER_SECRET=
APP_MEDIA_SECRET=
APP_SESSION_SECRET=

# BREVO
# -------------------------------------
APP_BREVO_APIKEY=
APP_BREVO_LIST_ID=
APP_BREVO_ORDER_TEMPLATE_ID=
APP_BREVO_SENDER=
APP_BREVO_USER_MAIL=
APP_BREVO_HOOK_USER=
APP_BREVO_HOOK_PWD=

# PHOTON
# -------------------------------------
APP_PHOTON_BASEURL=

# INSTAGRAM
# -------------------------------------
APP_INSTAGRAM_BASEURL=
APP_INSTAGRAM_KEY=
APP_INSTAGRAM_HOST=

# CLOUDINARY
# -------------------------------------
APP_CLOUDINARY_NAME=
APP_CLOUDINARY_APIKEY=
APP_CLOUDINARY_SECRET=

# RECAPTCHA
# -------------------------------------
APP_RECAPTCHA_BASEURL=
APP_RECAPTCHA_SECRET=

# OVH FTP
# -------------------------------------
APP_OVH_FTP_SERVER=
APP_OVH_FTP_PORT=
APP_OVH_FTP_USER=
APP_OVH_FTP_PASSWORD=
APP_OVH_FTP_FOLDER=

# BILLET REDUC
# -------------------------------------
APP_BILLETREDUC_API_BASE=